.footer {
  background-color: $second-color;
  color: $first-color;
  padding-top: 60px;
  padding-bottom: 30px;

  &__logo {
    font-size: 46px;
    margin-bottom: 40px;
  }

  &__content {
    display: flex;
    align-items: baseline;
    gap: 120px;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__link {
      display: inline-block;

      transition: color $main-animation, transform $main-animation,
        font-weight $main-animation;

      &:hover,
      &:focus {
        color: $hover-color;
        transform: scale(1.2);
        font-weight: 500;
      }
    }
  }

  &-adress {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &-contacts {
    display: flex;
    flex-direction: column;
    &__title {
      margin-bottom: 10px;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 20px;
    }

    &__link {
      display: inline-block;

      transition: color $main-animation, transform $main-animation,
        font-weight $main-animation;
      &:hover,
      &:focus {
        color: $hover-color;
        transform: scale(1.2);
        font-weight: 500;
      }
    }
  }

  &__copyright {
    display: inline-block;
    font-size: 12px;
    line-height: 1.3;

    margin-top: 18px;
  }
}
