.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.26) 0%,
    rgba(0, 0, 0, 0) 100%
  );

  &__content {
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
    align-items: center;
    gap: 15px;
    padding-top: 20px;
    padding-bottom: 42px;
  }
}

.logo {
  display: inline-block;
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  color: $first-color;
  transition: text-shadow $main-animation;
  &__letter {
    color: $accent-color;
  }
  &:hover,
  &:focus {
    text-shadow: $hover-shadow;
  }
}

.navigation__list {
  display: flex;
  gap: 40px;
}

.navigation__link {
  display: block;

  color: $first-color;
  transition: color $main-animation, text-shadow $main-animation,
    transform $main-animation, font-weight $main-animation;
}

.navigation__link:hover,
.navigation__link:focus {
  color: $accent-color;
  text-shadow: $main-shadow;
  transform: scale(1.2);
  font-weight: 500;
}

.header__contact {
  justify-self: end;
  display: flex;
  align-items: center;
  font-weight: 700;
  color: $first-color;
  transition: color $main-animation, text-shadow $main-animation,
    transform $main-animation;
}

.header__phone-icon {
  width: 24px;
  height: 24px;

  fill: $accent-color;
  transition: fill $main-animation;
}

.header__contact:hover,
.header__contact:focus,
.header__contact:hover > .header__phone-icon,
.header__contact:focus > .header__phone-icon {
  color: $hover-color;
  text-shadow: $main-shadow;
  transform: scale(1.2);
  fill: $hover-color;
}
