.hero {
  background-color: $input-color;
  background-image: url("../img/hero-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 220px;
  padding-bottom: 120px;
}

.hero__title {
  font-size: 130px;
}

.hero__subtitle {
  font-size: 26px;
  line-height: 1.2;
  color: $first-color;
  margin-top: 10px;
  margin-bottom: 60px;
}

.hero__button {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  padding: 23px 90px;
  border-radius: 8px;
  background-color: $first-color;
}
