@media (max-width: 1200px) {
  .navigation__list {
    gap: 20px;
  }
  .hero {
    padding-top: 160px;
    padding-bottom: 70px;
  }
  .product {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .product__image {
    max-width: 380px;
    max-height: 300px;
  }
  .product__title {
    font-size: 54px;
  }

  .product__button {
    margin-top: 20px;
  }

  .product__item:not(:last-child) {
    margin-bottom: 80px;
  }
  .contacts__title {
    font-size: 50px;
  }
  .footer__content {
    gap: 80px;
  }
}

@media (max-width: 1020px) {
  .container {
    padding: 0 30px;
  }

  .header__content {
    padding-top: 20px;
    padding-bottom: 42px;
  }
  .contacts__wrap {
    padding-left: max(30px, (100% - 1180px)/2);
    padding-right: 0;
  }

  .contacts__map-wraper {
    width: calc(100% - 380px);
  }
}

@media (max-width: 940px) {
  body {
    font-size: 14px;
  }

  .logo {
    font-size: 28px;
  }

  .navigation__list {
    gap: 15px;
  }

  .hero {
    padding-top: 150px;
    padding-bottom: 80px;
  }

  .hero__title {
    font-size: 80px;
  }
  .hero__subtitle {
    font-size: 20px;
  }

  .hero__button {
    padding: 14px 61px;
    font-weight: 700;
    font-size: 18px;
  }

  .product {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .product__item {
    gap: 10px;
  }

  .product__image {
    max-width: 260px;
    max-height: 206px;
  }
  .product__title {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .product__button {
    margin-top: 20px;
    padding: 14px 90px;
    font-size: 18px;
  }

  .product__item:not(:last-child) {
    margin-bottom: 50px;
  }
  .contacts__title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .address__text {
    font-size: 16px;
  }

  .contacts__address {
    gap: 15px;
  }
  .social__list {
    gap: 20px;
  }

  .contacts__map-wraper {
    height: 230px;
  }

  .address__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .contacts__map-wraper {
    width: calc(100% - 260px);
  }

  .footer {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .footer__logo {
    font-size: 46px;
  }
  .footer__content {
    gap: 50px;
  }

  .footer .social-link {
    width: 40px;
    height: 40px;
  }

  .footer__copyright {
    margin-top: 43px;
  }
}

@media (max-width: 710px) {
  .header__content {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .header__navigation {
    order: 1;
    grid-column: 1 / 3;
    display: flex;
    justify-self: center;
  }
}

@media (max-width: 580px) {
  .container {
    padding: 0 15px;
  }
  .header__content {
    padding-top: 16px;
    padding-bottom: 18px;
  }

  .navigation__link {
    font-size: 12px;
  }

  .header__contact {
    font-size: 12px;
  }

  .header__phone-icon {
    width: 20px;
    height: 20px;
  }

  .hero {
    padding-top: 259px;
    padding-bottom: 30px;
    background-image: url("../img/hero-img-mobil.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .hero__title {
    font-size: 50px;
  }
  .hero__subtitle {
    margin-top: 4px;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .hero__button {
    max-width: 290px;
    font-weight: 700;
    font-size: 18px;
  }
  .product__item {
    flex-direction: column;
    align-items: center;
  }
  .product__item:nth-child(2n) {
    flex-direction: column;
  }
  .product__button {
    margin-top: 20px;
    width: 100%;
    font-size: 18px;
  }
  .product__wrap {
    max-width: 290px;
  }
  .contacts__title {
    margin-bottom: 15px;
  }

  .contacts__wrap {
    flex-direction: column;
    padding: 0;
  }

  .contacts__address {
    width: 100%;
    padding: 30px 15px;
  }

  .contacts__map-wraper {
    width: 100%;
  }

  .footer {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .footer__logo {
    margin-bottom: 30px;
  }
  .footer__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
