@media (max-width: 1200px) {
  .navigation__list {
    gap: 20px;
  }
  .hero {
    padding-top: 160px;
    padding-bottom: 70px;
  }
  .product {
    padding-top: 80px;
    padding-bottom: 80px;

    &__image {
      max-width: 380px;
      max-height: 300px;
    }
    &__title {
      font-size: 54px;
    }

    &__button {
      margin-top: 20px;
    }
    &__item:not(:last-child) {
      margin-bottom: 80px;
    }
  }

  .contacts__title {
    font-size: 50px;
  }
  .footer__content {
    gap: 80px;
  }
}

@media (max-width: 1020px) {
  .container {
    padding: 0 30px;
  }

  .header__content {
    padding-top: 20px;
    padding-bottom: 42px;
  }
  .contacts__wrap {
    padding-left: max(30px, (100% - 1180px)/2);
    padding-right: 0;
  }

  .contacts__map-wraper {
    width: calc(100% - 380px);
  }
}

@media (max-width: 940px) {
  body {
    font-size: 14px;
  }

  .logo {
    font-size: 28px;
  }

  .navigation__list {
    gap: 15px;
  }

  .hero {
    padding-top: 150px;
    padding-bottom: 80px;
    &__title {
      font-size: 80px;
    }
    &__subtitle {
      font-size: 20px;
    }

    &__button {
      padding: 14px 61px;
      font-weight: 700;
      font-size: 18px;
    }
  }

  .product {
    padding-top: 50px;
    padding-bottom: 50px;

    &__item {
      gap: 10px;
      &:not(:last-child) {
        margin-bottom: 50px;
      }
    }

    &__image {
      max-width: 260px;
      max-height: 206px;
    }
    &__title {
      font-size: 30px;
      margin-bottom: 10px;
    }

    &__button {
      margin-top: 20px;
      padding: 14px 90px;
      font-size: 18px;
    }
  }

  .contacts__title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .address__text {
    font-size: 16px;
  }

  .contacts__address {
    gap: 15px;
  }
  .social__list {
    gap: 20px;
  }

  .contacts__map-wraper {
    height: 230px;
    width: calc(100% - 260px);
  }

  .address__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .footer {
    padding-top: 40px;
    padding-bottom: 50px;

    &__logo {
      font-size: 46px;
    }
    &__content {
      gap: 50px;
    }

    & .social-link {
      width: 40px;
      height: 40px;
    }

    &__copyright {
      margin-top: 43px;
    }
  }
}

@media (max-width: 710px) {
  .header__content {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .header__navigation {
    order: 1;
    grid-column: 1 / 3;
    display: flex;
    justify-self: center;
  }
}

@media (max-width: 580px) {
  .container {
    padding: 0 15px;
  }
  .header__content {
    padding-top: 16px;
    padding-bottom: 18px;
  }

  .navigation__list {
    gap: 10px;
  }
  .navigation__link {
    font-size: 12px;
  }

  .header__contact {
    font-size: 12px;
  }

  .header__phone-icon {
    width: 20px;
    height: 20px;
  }

  .hero {
    padding-top: 259px;
    padding-bottom: 30px;
    background-image: url("../img/hero-img-mobil.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &__title {
      font-size: 50px;
    }
    &__subtitle {
      margin-top: 4px;
      margin-bottom: 20px;
      font-size: 20px;
    }

    &__button {
      max-width: 290px;
      font-weight: 700;
      font-size: 18px;
    }
  }

  .product__item {
    flex-direction: column;
    align-items: center;
    &:nth-child(2n) {
      flex-direction: column;
    }
  }

  .product__button {
    margin-top: 20px;
    width: 100%;
    font-size: 18px;
  }
  .product__wrap {
    max-width: 290px;
  }
  .contacts__title {
    margin-bottom: 15px;
  }

  .contacts__wrap {
    flex-direction: column;
    padding: 0;
  }

  .contacts__address {
    width: 100%;
    padding: 30px 15px;
  }

  .contacts__map-wraper {
    width: 100%;
  }

  .footer {
    padding-top: 30px;
    padding-bottom: 20px;

    &__logo {
      margin-bottom: 30px;
    }
    &__content {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }
}
