.modal {
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  cursor: pointer;
  overflow-x: hidden;
  overflow-y: auto;

  &__block {
    position: relative;
    width: 580px;
    padding: 40px 15px;
    margin: auto;
    background-color: #fff;
    cursor: default;

    border: 1px solid #646464;
    border-radius: 8px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    max-width: 440px;
    margin: 0 auto;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
  }
  &__title {
    font-size: 30px;
    line-height: 1.4;
    text-align: center;
    max-width: 380px;
    color: $addition-color;
  }

  &__description {
    font-size: 16px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  &__text {
    display: block;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__input {
    border: 1px solid $input-color;
    border-radius: 6px;
    width: 100%;
    height: 50px;
    padding: 15px;
    &::placeholder {
      color: $input-color;
    }
  }
  &__button {
    padding: 15px 100px;

    font-weight: 700;
    font-size: 20px;

    background-color: $accent-color;
    color: $second-color;

    border: 4px solid transparent;
    border-radius: 8px;
    box-shadow: $main-shadow;

    transition: background-color $main-animation, color $main-animation,
      box-shadow $main-animation, border-color $main-animation,
      animation $main-animation;
    &:focus {
      box-shadow: $hover-shadow;
      border-color: $second-color;
      outline: 0;
    }
    &:hover {
      background-color: $hover-color;
      box-shadow: $hover-shadow;
    }

    &:active {
      background-color: $second-color;
      box-shadow: $hover-shadow;
      color: $first-color;
    }
  }
}

@media (max-width: 770px) {
  .modal__block {
    width: 520px;
  }

  .modal__container {
    gap: 15px;
  }
  .modal__description {
    font-size: 15px;
  }
  .modal__form {
    width: 260px;
  }
  .modal__button {
    padding: 14px 80px;
  }
}

@media (max-width: 550px) {
  .modal__block {
    max-width: 290px;
  }

  .modal__container {
    max-width: 260px;
  }
  .modal__title {
    font-size: 16px;
  }

  .modal__text,
  .modal__input,
  .modal__description {
    font-size: 12px;
  }

  .modal__button {
    width: 100%;
    font-size: 18px;
  }
}
