.product {
  padding-top: 120px;
  padding-bottom: 120px;

  &__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    &:not(:last-child) {
      margin-bottom: 120px;
    }

    &:nth-child(2n) {
      flex-direction: row-reverse;
    }
  }
  &__image {
    max-width: 470px;
    max-height: 370px;
  }

  &__wrap {
    max-width: 582px;
  }
  &__title {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 20px;
  }

  &__description {
    line-height: 1.5;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }
  &__button {
    padding: 23px 132px;
    margin-top: 40px;

    font-weight: 700;
    font-size: 26px;

    background-color: $accent-color;
    color: $second-color;

    border: 4px solid transparent;
    border-radius: 8px;
    box-shadow: $main-shadow;

    transition: background-color $main-animation, color $main-animation,
      box-shadow $main-animation, border-color $main-animation,
      animation $main-animation;

    &:focus {
      box-shadow: $hover-shadow;
      border-color: $second-color;
      outline: 0;
    }
    &:hover {
      background-color: $hover-color;
      box-shadow: $hover-shadow;
    }

    &:active {
      background-color: $second-color;
      box-shadow: $hover-shadow;
      color: $first-color;
    }
  }
}
