html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 1.2;

  color: $second-color;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

input {
  font-family: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1324px;
  margin: 0 auto;
  padding: 0 72px;
}

#map {
  height: 100%;
  font-family: inherit;
}
