html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, sans-serif;
  color: $second-color;

  background-color: gray;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}
