$first-color: #ffffff;
$second-color: #18171a;
$addition-color: #00654e;
$accent-color: #b8ff20;
$input-color: #c0c0c0;
$hover-color: #cdf478;

$main-animation: 250ms linear;

$main-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$hover-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15),
  0px 4px 4px rgba(0, 0, 0, 0.15);
